a{
    color: grey !important;
}

.margin-bottom-15{
   margin-bottom: 15px;
}

.heading{
    text-align: center;
}

/* CSS for the logo */
.logo-img {
    max-height: 60px; /* Adjust the height to fit the navbar */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the logo fits without distortion */
}

/* css for question list home page  */
.question-list{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}
.question-list h4{
    margin: 0;
    padding: 0;
}
.question-list a, .question-title{
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 133, 186) !important;
}

/* css for answers */
.answer-wrapper{
   border-bottom: 1px solid red;
   margin-bottom: 10px;
   padding: 5px;
}

/* my question delte butoon class */
.my-question{
    display: flex;
    justify-content: space-between;
}